<!DOCTYPE html>
<html>
	<head>
		<title>ようこそ<%= username %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="javascripts/keyboard.js"></script>
		<script type="text/javascript" src="javascripts/network.js"></script>
		<script type="text/javascript" src="javascripts/game.js"></script>
		<script type="text/javascript" src="javascripts/dom.js"></script>
		<script type="text/javascript" src="javascripts/images.js"></script>
		<script type="text/javascript" src="javascripts/main.js"></script>
		<script type="text/javascript" src="javascripts/definitions.js"></script>

	</head>
	<body onload="main.init();">
		<h1><%= title %></h1>
	</body>
</html>