body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.room_button {
	width: 200px;
	height: 50px;
	margin: 10px;
	border: solid 1px #999999;

	cursor: pointer;
	text-align: center;
	float: left;
}

div.room_button_full {
	width: 200px;
	height: 50px;
	margin: 10px;
	border: solid 1px #999999;
	background-color: #eeaaaa;

	cursor: normal;
	text-align: center;
	float: left;
}

div.room_button:hover {
	width: 200px;
	height: 50px;
	margin: 10px;

	border: solid 1px #999999;
	background-color: #dddddd;

	cursor: pointer;
	text-align: center;
	float: left;
}